/* 공통사항 */
/* 모든 여백 제거 */
/* 테두리와 여백이 width, height안에 포함 되도록 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* li 장식 제거 */
li {
    list-style: none;
}

/* a 밑줄 제거, 글자색 */
a {
    text-decoration: none;
    /* color: #222; */
    color:inherit;
    /*  부모의 color 속성을 상속받아서 사용한다 */
}

/* img,video 위 아래 정렬 */
img,
video {
    vertical-align: middle;
}

/* em, i, address 기울기 제거 */
em,
i,
address {
    font-style: normal;
}

/* blind */
.blind{
    position:absolute;
    top:-99999px;
}
/* body */
body{
   font-family: Pretendard, "돋움", sans-serif; 
   /* font-size: 16px; */
   color: #111;
}