.only-you-wrap .title{
    margin-bottom: 0;
}
.title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.only-tab-list{
    display: flex;
    gap: 10px;
}
.only-tab-list a{
    display: block;
    padding: 16px 24px;
    border: 1px solid #092729;
    border-radius: 30px;
    font-size: 1.13rem;
}

.only-tab-list li a:hover{
    background: #ddd;
}
.only-tab-list li.active a{
    background: #092729;
    color: #fff;
    font-weight: 600;
}

.only-slider-list{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.only-slider-list>div{
    position: relative;
    /* border: 1px solid blue; */
    padding: 2% 0;
    border-radius: 40px 40px 0 40px;
    overflow: hidden;
    background: #fff;
}
.only-slider-list>div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.only-slider-list>div .hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}
.only-slider-list>div .text-box{
    position: absolute;
    bottom: 50px;
    font-size: 1.13rem;
    background-color: rgba(0, 0, 255, 0.1);
    /* left: 50%;
    transform: translateX(-50%); */
    /* 글자가 두줄로 바뀌어버림 */
    width: 100%;
    /* 너비를 100%로 주고 난 다음에 글자 가운데 정렬 하기 */
    text-align: center;
    z-index: 100;
}

.only-slider-list>div .radius{
    width: 75px;
    height: 75px;
    background: #092729;
    background: #fff;
    border-radius: 40px 0 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
.only-slider-list>div .radius::before{
    content: "";
    display: block;
    background: green;
    background: transparent;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: -80px;
    bottom: 0;
    box-shadow: 40px 40px 0 yellow;
    box-shadow: 40px 40px 0 #fff;
}

.only-slider-list>div .radius::after{
    content: "";
    display: block;
    background-color: hotpink;
    background: transparent;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -80px;
    box-shadow: 40px 40px 0 orange;
    box-shadow: 40px 40px 0 #fff;

}

.only-slider-list>div:hover .hover-img{
    opacity: 1;
}

.only-slider-list>div:hover .text-box{
    color: #fff;
}

.only-slider-list>div::after{
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: #092729 url(/01-soopsori-header-footer/images/arrow-right-thin.svg) no-repeat center center;
    z-index: 1000;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: 0.3s;
}

.only-slider-list>div:hover::after{
    right: 0;
    bottom: 0;
}

.selection{
    display: flex;
    justify-content: space-between;
    /* gap: 90px; */
}

.selection>div{
    position: relative;
}

.sel-left img{
    width: 100%;
    height: 100%;
}

/* .sel-right 자식을 좌우, 위아래 가운데로 보내기 */
.selection .sel-right{
    display: flex;
    /* [flex-direction : flex 정렬을 column 방향으로 하겠다] */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    gap: 40px;
    padding-left: 95px;
}

.selection .sel-right .img-box img{
    max-width: 530px;
    max-height: 409px;
    width: 100%;
    height: 100%;
}

.sel-right .text-box{
    text-align: center;
    /* width: 100%; */
    /* font-size: 1.5rem; */
    /* position: absolute; */
    /* bottom: 50px; */
}

.sel-right .text-box strong{
    font-size: 2rem;
}

.sel-right .text-box p{
    font-size: 1.13rem;
    margin: 20px 0;
}

.sel-right .more{
    background: var(--default);
    border-radius: 30px;
    color: white;
    /* 버튼이 너무 길어서 inline-block으로 만들어줌 */
    display: inline-block;
    padding: 10px 16px;
    margin-top: 50px;
}