.only-tab-list{
    display: flex;
}

.selection{
    display: flex;
    justify-content: space-between;
}

.selection img{
    width: 100%;
    height: 100%;
}

.selection .sel-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.selection .img-box{
    max-width: 503px;
    max-height: 409px;
    width: 100%;
    height: 100%;
}

.selection .text-box{
    text-align: center;
}

.selection .text-box p{
    margin: 20px 0;
}

.selection .more{
    display: inline-block;
    border-radius: 30px;
    color: white;
    background: var(--default);
    padding: 10px 16px;
    /* margin-top: 50px; */
}