/* 1280px이하 */
@media screen and (max-width: 1280px){
    .inner{
        padding: 0 20px;
    }
    .main-menu{
        gap: 3rem;
    }
    .gnb{
        gap: 1.3rem;
    }
    section .title{
            font-size: 3rem;
    }

    .only-tab-list li a{
        padding: 0.9rem 0.5rem;
    }
}

/* 1024이하 */

@media screen and (max-width: 1024px){
    /* 기본글자크기 14px */
    html{
        font-size: 14px;
    }
    /* 1. 제거하기 */
    .main-menu,
    .m-hide{
        display: none !important;
    }
    /* 2. 보이기 */
    .ham-btn{
        display: block;
    }
    /* 3. 100% 만들기 */

    /* footer .inner에 준 flex를 취소하고 
    footer의 footer-left와 footer-right를 다른줄로 변경 flex */
    footer .inner{
        display: block;
        padding: 3rem 20px;
    }
    .footer-right .sns-list{
        justify-content: flex-start;
        margin-top: 1.5rem;
    }
    .footer-right .footer-menu{
        display: flex;
        gap: 10px;
        /* 넘쳐나면 그냥 전체가 떨어지도록 */
        flex-wrap: wrap;
    }
}

/* 768이하 */

@media screen and (max-width: 768px){
    /* 기본글자크기 12px */
    html{
        font-size: 12px;
    }
    /* header .inner 줄간격 */
    header .inner{
        line-height: 56px;
    }
    /* logo 크기 */
    .logo img{
        width: 110px;
    }
    /* ham-btn 크기 줄이기 */
    .ham-btn img{
        width: 24px;
    }
}