*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img,
video{
    vertical-align: middle;
}

em,
i,
address {
    font-style: normal;
}

body{
    font-family: Pretendard, "돋움", sans-serif; 
    font-size: 16px;
    color: #111;
}

:root{
    --default: #092729;
    --title-size: 60px;
    --title-family: "Jost", sans-serif;
}

.inner{
    width: 100%;
    max-width: 1920px;
    padding: 0 40px;
    margin: 0 auto;
    background: pink;
}

/* header */
header{
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    /* position: fixed; */
    width: 100%;
    /* z-index: 1000000; */
}

header .inner{
    display: flex;
    justify-content: space-between;
    line-height: 70px;
}

header>.inner ul{
    display: flex;
    justify-content: space-between;
}

.main-menu{   
    gap: 50px;
}

.gnb-menu{
    gap: 20px;
}

footer .inner{
    display: flex;
    justify-content: space-between;
}

.footer-left{
    padding: 50px 0;
}

.footer-cpInfo{
    font-size: 14px;
}

.util-menu{
    display: flex;
    gap: 30px;
}

